@using TestMVC.Common;
@model TestMVC.Models.Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<h3>Input data</h3>

<form method="post">
    @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })

    <div class="form-group">
        @Html.DisplayNameFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName, string.Empty, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName, string.Empty, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(m => m.Gender)
        @Html.EnumDropDownListFor(m => m.Gender,"Select Gender", new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Gender, string.Empty, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Submit</button>
    </div>
</form>

